Finnish-Weather-Chatbot-Flow.txt
[{"id":"cf68d7d0.7f793","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a03d0bc.8348d","type":"watson-conversation-v1","z":"cf68d7d0.7f793","name":"","workspaceid":"640881c3-5d52-4b5f-9cb1-56858bda7d12","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":450,"y":120,"wires":[["bd90caf3.fdd1c8","8c3db213.a8e78"]]},{"id":"d243444.5edb1b8","type":"ui_text_input","z":"cf68d7d0.7f793","name":"","label":"","tooltip":"","group":"4383091.7bfcc78","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":105.25000381469727,"y":134.25000190734863,"wires":[["8a03d0bc.8348d"]]},{"id":"8c3db213.a8e78","type":"debug","z":"cf68d7d0.7f793","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":723.5,"y":65,"wires":[]},{"id":"191e0ca8.757d9b","type":"ui_template","z":"cf68d7d0.7f793","group":"4383091.7bfcc78","name":"","order":1,"width":"6","height":"3","format":"<div><span>{{msg.payload}}</span></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1154.5,"y":75,"wires":[[]]},{"id":"ad95df11.2e97","type":"weather_insights","z":"cf68d7d0.7f793","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"en-US","x":694,"y":478,"wires":[["a09dc0cc.3ef0d","ab0c2d40.c2c6b"]]},{"id":"3727db4f.468ae4","type":"http request","z":"cf68d7d0.7f793","name":"Get Weather","method":"GET","ret":"txt","url":"","tls":"","x":684,"y":399,"wires":[["8f9e7dfd.583eb"]]},{"id":"6e1b8900.cff02","type":"function","z":"cf68d7d0.7f793","name":"Set map URL (HERE geocoder)","func":"//Some checks for forbidden letters etc.\nvar city = msg.payload.context.city.replace(/ä/gi,'a').replace(/ö/gi, \"o\").replace(/ /g, \"+\");\nmsg.url = \"https://geocoder.api.here.com/6.2/geocode.json?app_id=JyyhC5XWMFw0fD23wAbK&app_code=v9Z_j5SoFyKaaKEs8VYvQQ&searchtext=\" + city;\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":399,"wires":[["3727db4f.468ae4"]]},{"id":"8f9e7dfd.583eb","type":"function","z":"cf68d7d0.7f793","name":"Parse through contents (HERE)","func":"var mapInfo = JSON.parse(msg.payload);\n\nmsg.payload = mapInfo.Response.View[0].Result[0].Location.DisplayPosition.Latitude +\",\"+mapInfo.Response.View[0].Result[0].Location.DisplayPosition.Longitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":478,"wires":[["ad95df11.2e97"]]},{"id":"a09dc0cc.3ef0d","type":"function","z":"cf68d7d0.7f793","name":"Weather sentence read out","func":"var condition = msg.observation.wx_phrase;\nvar temp = msg.observation.temp;\nvar measureLocation = msg.observation.obs_name;\nvar feelsLike = msg.observation.feels_like;\n\nmsg.payload = \"Lämpötila on tällä hetkellä \" + temp + \" astetta. Tuntuu kuin \" + feelsLike + \" C. Mittauspaikka: \" + measureLocation + \".\";\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":567,"wires":[["770d0a5b.65ca14"]]},{"id":"bd90caf3.fdd1c8","type":"switch","z":"cf68d7d0.7f793","name":"Decide action","property":"payload.context.action","propertyType":"msg","rules":[{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"visual","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":670.5,"y":196,"wires":[["88e7c6d9.d5c23","b063d4ee.8ed4a"],["68e5d117.1c1ef8","88e7c6d9.d5c23"],["88e7c6d9.d5c23"]]},{"id":"ab0c2d40.c2c6b","type":"debug","z":"cf68d7d0.7f793","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":883.5,"y":474,"wires":[]},{"id":"88e7c6d9.d5c23","type":"function","z":"cf68d7d0.7f793","name":"Parse output text from Assistant","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":934.5,"y":230,"wires":[["8ff4e1b6.cd26b8"]]},{"id":"7092d26a.a378e4","type":"link in","z":"cf68d7d0.7f793","name":"To Weather","links":["b063d4ee.8ed4a"],"x":298.5,"y":398,"wires":[["6e1b8900.cff02"]]},{"id":"b063d4ee.8ed4a","type":"link out","z":"cf68d7d0.7f793","name":"Weather switch","links":["7092d26a.a378e4","a3df7895.7053b8"],"x":848.5,"y":152,"wires":[]},{"id":"eae097e1.65bcb","type":"link in","z":"cf68d7d0.7f793","name":"To chatbox","links":["770d0a5b.65ca14","8ff4e1b6.cd26b8","a179e51c.61c9e8"],"x":1014.5,"y":75,"wires":[["191e0ca8.757d9b"]]},{"id":"770d0a5b.65ca14","type":"link out","z":"cf68d7d0.7f793","name":"From Weather","links":["eae097e1.65bcb"],"x":655.5,"y":567,"wires":[]},{"id":"8ff4e1b6.cd26b8","type":"link out","z":"cf68d7d0.7f793","name":"Assistant response","links":["eae097e1.65bcb"],"x":1097.5,"y":197,"wires":[]},{"id":"f73bed47.c66ba8","type":"function","z":"cf68d7d0.7f793","name":"reset input value","func":"\nmsg.params = {context:msg.payload.context};\ndelete msg.params.context.action;\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":236.5,"y":240,"wires":[["25ca4b7.9318cb4","f0e9b7fc.217798"]]},{"id":"6a4dd18.0d7bf3","type":"function","z":"cf68d7d0.7f793","name":"Set map URL (OSM)","func":"//Some checks for forbidden letters etc.\nvar city = msg.payload.context.city.replace(/ä/gi,'a').replace(/ö/gi, \"o\").replace(/ /g, \"+\");\nmsg.url = \"https://nominatim.openstreetmap.org/search?q=\" + city+\"&format=json\";\nreturn msg;","outputs":1,"noerr":0,"x":105,"y":425,"wires":[[]]},{"id":"6cc2faec.bb730c","type":"function","z":"cf68d7d0.7f793","name":"Parse through contents (OSM)","func":"var mapInfo = JSON.parse(msg.payload);\n\nmsg.payload = mapInfo[0].lat+\",\"+mapInfo[0].lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":135,"y":482,"wires":[[]]},{"id":"7826d547.83ea34","type":"visual-recognition-v3","z":"cf68d7d0.7f793","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":692.5,"y":700,"wires":[["af7fe75c.139a2","81f5cea0.e7a17"]]},{"id":"7c1e28c2.3a5e3","type":"link in","z":"cf68d7d0.7f793","name":"to Visual Recognition","links":["68e5d117.1c1ef8"],"x":112.5,"y":695,"wires":[["bf62f07a.5d8568"]]},{"id":"f0e9b7fc.217798","type":"debug","z":"cf68d7d0.7f793","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":432.75,"y":240.25,"wires":[]},{"id":"25ca4b7.9318cb4","type":"watson-conversation-v1","z":"cf68d7d0.7f793","name":"","workspaceid":"640881c3-5d52-4b5f-9cb1-56858bda7d12","multiuser":false,"context":true,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":436.25,"y":277.5,"wires":[[]]},{"id":"ba330dda.06f84","type":"comment","z":"cf68d7d0.7f793","name":"Weather data","info":"","x":347.5,"y":366,"wires":[]},{"id":"e170c19b.fcc538","type":"comment","z":"cf68d7d0.7f793","name":"Visual recognition flow","info":"","x":328.5,"y":667,"wires":[]},{"id":"bf62f07a.5d8568","type":"function","z":"cf68d7d0.7f793","name":"Parse image URL from assistant input","func":"msg.payload = msg.payload.input.text;\nreturn msg;","outputs":1,"noerr":0,"x":354.5,"y":700,"wires":[["7826d547.83ea34"]]},{"id":"a179e51c.61c9e8","type":"link out","z":"cf68d7d0.7f793","name":"from Visual Recognition","links":["eae097e1.65bcb"],"x":1138.5,"y":685,"wires":[]},{"id":"a3df7895.7053b8","type":"link in","z":"cf68d7d0.7f793","name":"to Reset","links":["b063d4ee.8ed4a","68e5d117.1c1ef8"],"x":103.5,"y":240,"wires":[["f73bed47.c66ba8"]]},{"id":"af7fe75c.139a2","type":"function","z":"cf68d7d0.7f793","name":"Parse classifications","func":"msg.payload=\"Watson näkee kuvassa: \\n \";\n\n    for (var i=0; i < msg.result.images[0].classifiers[0].classes.length; i++) {\n    msg.payload += msg.result.images[0].classifiers[0].classes[i].class + \", varmuus \" + msg.result.images[0].classifiers[0].classes[i].score + \"\\n\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":958.5,"y":699,"wires":[["a179e51c.61c9e8"]]},{"id":"68e5d117.1c1ef8","type":"link out","z":"cf68d7d0.7f793","name":"visual switch","links":["7c1e28c2.3a5e3","a3df7895.7053b8"],"x":849.5,"y":191,"wires":[]},{"id":"81f5cea0.e7a17","type":"debug","z":"cf68d7d0.7f793","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":878.5,"y":651,"wires":[]},{"id":"4383091.7bfcc78","type":"ui_group","z":"","name":"Chatbot","tab":"81009556.889628","disp":true,"width":"6","collapse":false},{"id":"81009556.889628","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]